@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Signika:wght@300;400;500&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Signika", sans-serif;
}
:root {
  --var--color-primary: rgb(124, 160, 247);
  --var--color-secondary: rgb(124, 160, 247);
  --var--color-shadow: rgba(0, 212, 255, 0.7);
  --var--color-gradient: linear-gradient(
    90deg,
    rgba(124, 160, 247, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.card-wrapper {
  display: flex;
  position: relative;
  top: 3rem;
  padding: 2rem;
  width: 100vw;
  justify-content: center;
  margin-bottom: 5rem;
  overflow: visible;
}
.todo {
  width: 100%;
  max-width: 800px;
  margin-right: 2rem;
}
.heading {
  font-family: "Caveat", cursive;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 3rem;
}
.heading h1 {
  display: inline-block;
  background: var(--var--color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#user--input {
  border-radius: 5px;
  box-shadow: rgba(193, 217, 255, 0.29) 0px 1px 7px 5px;
  /* rgba(0, 0, 0, 0.1)  */
}

h1::selection {
  background-color: var(--var--color-secondary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
}
p::selection {
  background-color: var(--var--color-primary);
  color: white;
}
.main {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 1rem;
  gap: 6px;
  border-radius: 8px;
  width: 100%;
  overflow: hidden;

  max-width: 800px;
  box-shadow: 0 0 15px 3px rgba(188, 216, 222, 0.203);
}
.top--card {
  text-align: center;
  background: var(--var--color-gradient);
  color: white;
  max-height: 10rem;
  border-radius: 10px 10px 0 0;
}
.bottom--card {
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 4px solid rgba(0, 16, 255, 0.3);
  overflow-y: hidden;
  color: rgb(103, 101, 101);
  background: white;
  border-radius: 0;
  padding: 0 1.5rem;
  opacity: 1;
  transition: all 0.5s;
  border-bottom: 0.1px solid rgb(218, 218, 218);
}
.strike--card {
  opacity: 0.5;
  transform: scaleZ(15px);
}
.strike--card .icon {
  transition: all 0.3s ease-in-out;
  padding: 0 2rem;
}
.strike--card .icon i:nth-of-type(3) {
  display: none;
}

i {
  color: var(--var--color-primary);
  cursor: pointer;
  transition: all 0.2s ease;
}
i:hover,
i:focus {
  color: var(--var--color-shadow);
}
i:hover ~ .icon {
  transform: translateY(5px);
}

.top--card h1 {
  font-size: 1.5rem;
  padding: 1rem;
}
.bottom--card p {
  text-align: left;
  overflow: auto;
  scrollbar-width: none;
  max-width: 70vw;
  letter-spacing: 0.4px;
  padding: 1rem;
}

body {
  background: rgba(0, 212, 255, 0.06);
}

.input::placeholder {
  font-size: large;
  font-family: "Caveat", cursive;
  font-weight: bold;
}
.input {
  caret-color: var(--var--color-secondary);
  color: var(--var--color-secondary);
  display: flex;
  flex-grow: 1;
  font-size: 1rem;
  padding-inline-start: 1rem;
  outline: none;
  border: none;
}
.input2 {
  flex-grow: 1;
  padding-inline-start: 0;
}
.input:focus ~ .btn--div {
  box-shadow: 0 0 10px 1px var(--var--color-shadow);
}
.input--holder {
  width: 100%;
  padding: 2px;
  background: white;
  border-bottom: 0.1px solid rgb(218, 218, 218);
}
.bottom--card .input--holder input {
  padding: 13px;
}
.btn--div {
  padding: 5px;
  display: flex;
  gap: 1rem;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
}
button {
  border: none;
}
.btn,
.btn2 {
  font-family: "Caveat", cursive;
  letter-spacing: 0.7px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 0.4rem 1.4rem;
  background: var(--var--color-gradient);
  max-width: 25%;
  transition: all 0.2s ease;
}
.btn:hover,
.btn:focus {
  transform: scale(1.08);
}
.icon {
  display: flex;
  gap: 1rem;
  margin-left: 10px;
}

.strike {
  text-decoration: line-through;
}

/* width */
::-webkit-scrollbar {
  height: 2px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--var--color-secondary);
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--var--color-gradient);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--var--color-primary);
}
::placeholder {
  color: var(--var--color-primary);
  opacity: 0.8;
  font-style: italic;
  font-weight: 500;
  font-size: 1rem;
  overflow: visible;
}
.input--holder input::-webkit-input-placeholder {
  font-size: 40px;
}
::-moz-placeholder {
  font-size: 1rem;
}

@media screen and (max-width: 550px) {
  .card-wrapper {
    margin: auto;
    padding: 0 1rem;
    top: 0.5rem;
  }
  .top--card h1 {
    width: 100%;
    font-size: 1.2rem;
  }
  .bottom--card {
    width: 100%;
    padding: 0 5px;
  }
  .main {
    width: 100%;
  }
  .main .btn--div {
    padding: 0;
  }
  .btn--div {
    padding: 5px 10px;
    border-radius: 4px;
  }
  .main .input,
  .input2 {
    font-size: 1rem;
    max-width: 70%;
  }
  .bottom--card p {
    padding: 1rem;
  }
  .input--holder {
    overflow: hidden;
    padding: 2px;
    background: white;
  }

  .todo {
    margin: 2rem 2rem;
    width: 97%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 330px) {
  .btn--div {
    flex-direction: column;
  }
  .btn--div input {
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 0.1px solid rgb(218, 218, 218);
    display: block;
  }
  .btn--div .btn {
    padding: 0.3rem 1.2rem;
    display: inline-block;
    min-width: 70px;
  }
}
.none {
  display: none;
}
