@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Signika:wght@300;400;500&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Signika", sans-serif;
}
:root {
  --var--color-primary: rgb(124, 160, 247);
  --var--color-primary-light: rgba(124, 160, 247, 0.5);
  --var--color-secondary: rgb(124, 160, 247);
  --var--color-shadow: rgba(0, 212, 255, 0.7);
  --icon-color: rgb(124, 160, 247);
  --box-shadow: rgba(193, 217, 255, 0.29) 0px 1px 7px 5px;
  --main-shadow: 0 0 15px 3px rgba(188, 216, 222, 0.203);
  --white: #ffffff;
  --bottom-border-color: rgb(218, 218, 218);
  --input-border-color: rgb(218, 218, 218);
  --left-border-color: rgba(0, 16, 255, 0.3);
  --text-color: rgb(103, 101, 101);
  --body-color: rgba(0, 212, 255, 0.06);
  --var--color-gradient: linear-gradient(
    90deg,
    rgba(124, 160, 247, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  --opacity: 0.45;
}

.dark--theme {
  --var--color-primary: rgb(68, 110, 207);
  --var--color-primary-light: rgba(124, 160, 247, 0.15);
  --var--color-shadow: rgb(70, 207, 235) 100%;
  --box-shadow: rgb(9, 9, 9) 0px 0px 5px 3px;
  --main-shadow: 0 0 15px 3px rgb(7, 7, 7);
  --bottom-box: rgb(10, 10, 10);
  --white: rgb(16, 16, 16);
  --bottom-border-color: rgb(36, 36, 36);
  --top-border-color: rgb(7, 7, 7);
  --left-border-color: rgba(124, 160, 247, 0.7);
  --text-color: #e7f6f2;
  --body-color: rgb(18, 18, 18);
  --icon-color: rgb(27, 146, 170);
  --input-border-color: rgba(124, 160, 247, 0.13);
  --var--color-gradient: linear-gradient(
    90deg,
    rgb(68, 103, 184) 0%,
    rgb(40, 140, 160) 100%
  );
  --opacity: 0.2;
}
body {
  animation: bodyfade 0.5s ease;
}
.theme {
  font-size: 1.8rem;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 3;
  transition: all 1s ease;
}

.fa-sun,
.fa-moon {
  backface-visibility: hidden;
}
.card-wrapper {
  display: flex;
  position: relative;
  top: 3rem;
  padding: 2rem;
  width: 100vw;
  justify-content: center;
  margin-bottom: 5rem;
  overflow: visible;
}
.todo {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin-right: 2rem;
}
.heading {
  position: relative;
  font-family: "Caveat", cursive;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 3rem;
}
.heading h1 {
  display: inline-block;
  background: var(--var--color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.select--div {
  font-family: "Caveat", cursive;
  margin-bottom: 5px;
}

#user--input {
  position: relative;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

h1::selection {
  background-color: var(--var--color-secondary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--white);
}
p::selection {
  background-color: var(--var--color-primary);
  color: var(--white);
}
.main {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 1rem;
  gap: 6px;
  border-radius: 8px;
  width: 100%;
  overflow: hidden;
  max-width: 800px;
  /* transition: all 0.7s ease; */
  box-shadow: var(--main-shadow);
  animation: fade 0.5s ease;
}
.top--card {
  text-align: center;
  background: var(--var--color-gradient);
  color: var(--white);
  max-height: 10rem;
  border-radius: 10px 10px 0 0;
}
.bottom--card {
  position: relative;
  box-shadow: 0 0 15px 3px var(--bottom-box);
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 4px solid var(--left-border-color);
  overflow-y: hidden;
  color: var(--text-color);
  background: var(--white);
  border-radius: 0;
  padding: 0 1.5rem;
  opacity: 1;
  transition: all 0.7s ease-out;
  border-top: 0.1px solid var(--top-border-color);
  border-bottom: 0.1px solid var(--bottom-border-color);
  animation: fade 0.5s ease-out;
}
.strike--card {
  opacity: var(--opacity);
  transform: scale(0.99999);
}
.strike--card .icon {
  transition: all 0.3s ease-in-out;
  padding: 0 2rem;
}
.strike--card .icon i:nth-of-type(3) {
  display: none;
}

i {
  color: var(--icon-color);
  cursor: pointer;
  transition: all 0.2s ease;
}
i:hover,
i:focus {
  color: var(--var--color-primary);
}
i:hover ~ .icon {
  transform: translateY(5px);
}

.top--card h1 {
  font-size: 1.5rem;
  padding: 1rem;
}
.bottom--card p {
  text-align: left;
  overflow: auto;
  scrollbar-width: none;
  max-width: 70vw;
  letter-spacing: 0.4px;
  padding: 1rem;
}

body {
  background: var(--body-color);
  overflow-x: hidden;
}
.anim {
  transition: all 0.5s ease;
}
.input::placeholder {
  font-family: "Caveat", cursive;
  font-weight: bold;
}
.input {
  background-color: var(--white);
  width: 50%;
  caret-color: var(--var--color-secondary);
  color: var(--var--color-secondary);
  display: flex;
  flex-grow: 1;
  height: 2.5rem;
  padding-inline-start: 1rem;
  outline: none;
  border: none;
  font-size: 1.25rem;
}
.input2 {
  flex-grow: 1;
  padding-inline-start: 0;
}
.input:focus ~ .btn--div {
  box-shadow: 0 0 10px 1px var(--var--color-shadow);
}
#user--input.input--holder {
  width: 100%;
  padding: 2px;
  background: var(--white);
  border: 0.1px solid var(--input-border-color);
}
.input--holder {
  width: 100%;
  background: var(--white);
}
.bottom--card .input--holder input {
  padding: 13px;
}
.btn--div {
  padding: 5px;
  display: flex;
  gap: 1rem;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
}
button {
  border: none;
}
.btn,
.btn2 {
  font-family: "Caveat", cursive;
  letter-spacing: 0.7px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
  color: var;
  text-align: center;
  padding: 0.4rem 1.4rem;
  background: var(--var--color-gradient);
  max-width: 25%;
  transition: all 0.2s ease;
}
.btn:hover,
.btn:focus {
  transform: scale(1.08);
}
.icon {
  position: relative;
  display: flex;
  gap: 1rem;
  margin-left: 10px;
}

.strike {
  text-decoration: line-through;
}
.time {
  position: absolute;
  font-size: 0.5rem;
  /* bottom: 20px;
  right: 110px;
  opacity: 0.6;
  rotate: -90deg; */
  right: 25px;
  opacity: 0.4;
  top: 2px;
  rotate: 0deg;
}

/* .time {
  position: absolute;
  bottom: -10px;
  right: -22px;
  font-size: 0.55rem;
  opacity: 0.6;
  rotate: -45deg;
} */

/*                                       DropDown */

select {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none;
}

.dropdown,
option {
  font-size: 0.8rem;
  font-family: "Signika", cursive;
  color: var(--white);
  background-color: var(--white);
  color: var(--var--color-primary);
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 0.1px solid var(--input-border-color);
}
.dropdown--div {
  display: flex;
}

.options--div {
  display: flex;
}
option:hover {
  color: var(--var--color-shadow);
  background-color: var(--icon-color);
}
select:focus-visible {
  outline: none;
  border: 1px solid var(--var--color-primary);
}
option:focus-visible {
  outline: none;
  border: 1px solid var(--var--color-primary);
}

/*                                              ScrollBar                                                             */

/* width */
::-webkit-scrollbar {
  height: 2px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--var--color-secondary);
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--var--color-gradient);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--var--color-primary);
}
::placeholder {
  color: var(--var--color-primary);
  opacity: 0.8;
  font-style: italic;
  font-weight: 500;
  overflow: visible;
}

@media screen and (max-width: 550px) {
  .theme {
    top: 20px;
    right: 20px;
  }
  .card-wrapper {
    margin: auto;
    padding: 0 1rem;
    top: 0.5rem;
  }
  .top--card h1 {
    width: 100%;
    font-size: 1.2rem;
  }
  .bottom--card {
    width: 100%;
    padding: 0 5px;
  }
  .main {
    width: 100%;
  }
  .main .btn--div {
    padding: 0;
  }
  .btn--div {
    padding: 5px 10px;
    border-radius: 4px;
  }
  .main .input,
  .input2 {
    font-size: 1rem;
    max-width: 70%;
  }
  .bottom--card p {
    padding: 1rem;
  }
  .input--holder {
    overflow: hidden;
    padding: 2px;
    background: var(--white);
  }

  .todo {
    margin: 2rem 2rem;
    width: 97%;
    margin: 0 auto;
  }
  /* .time {
    right: 90px;
    opacity: 0.4;
  } */

  .time {
    right: 6px;
    opacity: 0.4;
    top: 2px;
    rotate: 0deg;
  }
}

@media screen and (max-width: 330px) {
  .btn--div {
    flex-direction: column;
  }
  .btn--div input {
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 0.1px solid var(--bottom-border-color);
    display: block;
  }
  .btn--div .btn {
    padding: 0.3rem 1.2rem;
    display: inline-block;
    min-width: 70px;
  }
}
.none {
  display: none;
}

.animation {
  z-index: -3;
  transform: scale(0.95);
  transform: translateY(54px);
}
.main--animation {
  transform: translateY(-54px);
}

@keyframes myfade {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
    translate: 0 -50px 0;
  }
  50% {
    opacity: 0.3;
    translate: 0 20px 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes addfade {
  0% {
    opacity: 0;
    translate: 0 -40px 0;
  }
  50% {
    opacity: 0.5;
    translate: 0 -15px 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bodyfade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotatee {
  0% {
    rotate: 0deg;
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    rotate: 720deg;
    opacity: 0;
  }

  75% {
    opacity: 0.5;
  }
  100% {
    rotate: 0deg;
    opacity: 1;
  }
}

/*                                            MODAL                                                          */

.modal.none {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
}

.modal p {
  display: block;
  /* background-color: var(--var--color-shadow); */
}
.app {
  transition: all 0.5s ease;
}
.modalopened {
  /* pointer-events: none; */
  opacity: 0.3;
}
.modal {
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  color: var(--var--color-primary);
  text-align: center;
  background-color: var(--white);
  border: 1px solid var(--left-border-color);
  width: 250px;
  height: 130px;
  border-radius: 20px;
  z-index: 20;
  animation: fadein 0.5s ease;
}
.pen {
  font-size: 3rem;
}

.close {
  font-size: 1.2rem;
  position: absolute;
  top: 11px;
  right: 13px;
}
.fadeoutt {
  animation: fadeout 0.8s ease;
  /* change animation duration in js too */
}

@keyframes fadeout {
  0% {
    scale: 1.5;
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    scale: 0;
  }
}

@keyframes fadein {
  0% {
    scale: 0.7;
    opacity: 0.8;
  }
  50% {
    scale: 1.3;
    opacity: 1;
  }
  100% {
    scale: 1;
  }
}

/* DropDown */

.selectt {
  top: 113px;
  bottom: 0;
  position: absolute;
  z-index: 55;
  font-size: 0.9rem;
  color: var(--var--color-primary);
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  max-width: 110px;
}
.drop-input {
  color: var(--var--color-primary);
  border-radius: 5px;
  background-color: var(--white);
  padding: 6px;
  width: 100%;
  border: 1px solid var(--var--color-primary-light);
  transition: all 0.5s ease;
}
.option div {
  display: inline-block;
  padding: 6px;
  border-bottom: 1px solid var(--var--color-primary-light);
}
.option div:hover {
  background-color: var(--var--color-primary);
  color: white;
}
.option {
  background-color: var(--white);
  border: 1px solid var(--var--color-primary-light);

  border-radius: 5px;

  display: flex;
  flex-direction: column;
  animation: myfade 0.3s ease-in-out;
}
.option div:last-of-type {
  border: none;
}
.option .selectt input {
  display: inline-block;
  border: none;
}

.drop-input:focus-visible {
  outline: none;
}

.option.none {
  display: none;
}

.id {
  display: none;
}
